.projects {
  background-color: $black;
  color: #fff;
  width: 100%;
  min-height: 100vh;

  .projects-body {
    width: 100%;
    margin: auto;

    .row {
      padding: 25px 20px;

      > .project {
        @media (min-width: $break-point-medium + 1) {
          max-width: $max-width;
        }

        @media (max-width: $break-point-medium) {
          max-width: 640px;
        }
      }

      &:nth-child(odd) {
        background-color: #212121;
      }

      &:nth-child(even) {
        background-color: #292929;
      }
    }
  }

  .projects-footer {
    padding: 25px 20px;
    text-align: center;
  }
}
