$left-side-width: 50%;
$right-side-width: 95% - $left-side-width;
$font-size: 120px;

.project {
  @include relative();
  margin: auto;

  .number {
    @include typeface('Open Sans');
    color: #c1c1c1;
    font-size: #{$font-size/$break-point-large * 100}vw;
    line-height: 1em;
    opacity: 0.2;
    user-select: none;
    pointer-events: none;

    @media (min-width: $break-point-medium + 1) {
      font-size: $font-size;
    }
  }

  .project-header {
    @include flex(flex-end, space-between);
    margin-bottom: 10px;
  }

  .project-title {
    @include typeface('Raleway');
    @include text-overflow-ellipsis();
    font-size: 1.5em;

    &:hover {
      color: $yellow;
      &:before {
        content: '# ';
      }
    }
  }

  .project-date {
    white-space: nowrap;
    padding-left: 10px;
    opacity: 0.7;
  }

  .project-description {
    color: #eee;
    font-weight: 400;
    line-height: 1.5em;

    p {
      margin: auto;
    }

    a,
    span {
      color: $yellow;
    }

    a:not(.no-border) {
      border-bottom: 2px dotted;
    }
  }

  .project-nav {
    @include flex(center, center);

    font-size: 14px;
    text-transform: uppercase;

    > * {
      @include relative();

      &:not(:last-child) {
        margin-right: 1em;
      }

      button {
        background-color: #fff;
        border-radius: 50px;
        border: none;
        box-shadow: 0px -5px 3px -5px #000 inset;
        color: #333;
        cursor: pointer;
        min-width: 65px;
        outline: none;
        padding: 0.5em 0;
        text-align: center;
        text-transform: uppercase;

        &:after {
          @include dimen(100%);
          content: '';
          display: block;
          padding-bottom: 2px;
        }

        &:focus {
          box-shadow: 0px 5px 3px -5px #000 inset;
        }
      }
    }
  }

  @media (min-width: $break-point-medium + 1) {
    @include padding-y(5%);
    overflow: hidden;

    .number {
      @include absolute(0, null, 0);
    }

    .project-header,
    .project-description,
    .project-nav {
      @include dimen($left-side-width);
      clear: left;
      float: left;
      padding-left: 6%;
    }

    .project-screenshot {
      @include dimen($right-side-width);
      float: right;
    }

    .project-nav {
      margin: 5% 0 0;
      justify-content: flex-end;
    }
  }

  @media (max-width: $break-point-medium) {
    .number {
      @include absolute(-5px, null, null, 0);
      font-size: 65px;
    }

    .project-description {
      @include margin-y(5%);
    }

    .project-nav {
      justify-content: center;
    }
  }
}
